<section id="skills" class="">
  <div class="picto-dev-skill">
    <div class="">
      <img class="" src="" alt="">
      <h2 class="">Ruby</h2>
    </div>

    <div class="">
      <img class="" src="" alt="">
      <h2 class="">Javascript</h2>
    </div>

    <div class="">
      <img class="" src="" alt="">
      <h2 class="">Scss</h2>
    </div>

    <div class="">
      <img class="" src="" alt="">
      <h2 class="">Git</h2>
    </div>
  </div>
  <div class="personal-skill">
    <div class="list-soft-skill">
      <ul>
        <li>L'envie d'apprendre</li>
        <li>Communiquant</li>
        <li>Ouvert d'esprit</li>
        <li>L'Esprit d'équipe</li>
        <li>La Créativité</li>
        <li>L'empathie</li>
      </ul>
    </div>
    <div class="list-hard-skill">
      <ul>
        <li>Le Travail d'équipe</li>
        <li>La Communication</li>
        <li>Microsoft Office</li>
        <li>Les Techniques de vente</li>
        <li>La Gestion de projets</li>
        <li>La Gestion du changement</li>
      </ul>
    </div>
  </div>
</section>
