<section id="skills" class="">
  <div class="picto-dev-skill">
  </div>
  <div class="personal-skill">
    <div class="list-soft-skill">
      <ul>
        <li>Skill</li>
        <li>Skill</li>
        <li>Skill</li>
      </ul>
    </div>
    <div class="list-hard-skill">
      <ul>
        <li>Skill</li>
        <li>Skill</li>
        <li>Skill</li>
      </ul>
    </div>
  </div>
</section>
