<h1>Home page</h1>
<div class="container">
  <div class="banner">
    <div class="cv-photo">
    <img src="./app/assets/images/Nicolas-Fornaro-photo_profil.jpg" alt="photo-profil"></div>
  </div>

  <div class="cv">
    <div class="cv-part">
    </div>
  </div>

  <div class="projetcs">
  </div>
</div>
