<header aria-label="Site Header" class="nav-sticky nav-style">
  <div class="">
    <div class="">
      <div class="">
        <a class="" href="/">
          <span class="">Home</span>
        </a>
      </div>

      <div class="">
        <nav aria-label="Site Nav" role="menu">
          <ul class="">
            <li><%= link_to "Accueil", root_path, class: "" %></li>

            <li><a href="#presentation">Présentation</a></li>

            <li><a href="#formation">Formation</a></li>

            <li><a href="#experience">Expériences</a></li>

            <li> <a href="#projects">Projets</a></li>

          </ul>
        </nav>
      </div>

      <div class="">
        <div class="">
          <%= link_to "Tous mes Projets", projects_path, class: "" %>
        </div>

        <div class="">
          <button class="">
          </button>
        </div>
      </div>
    </div>
  </div>

</header>
